body {
    background-color: cyan;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

h1{
color: rgb(23, 63, 240);

}
h2{
color: rgb(255, 0, 221);

}

p{
color: rgb(236, 157, 243);

}

a{
color: black;

}